<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  
    <label>
      Name:
      <input type="text" formControlName="name">
    </label>
  
    <label>
      E-mail:
      <input type="email" formControlName="email">
    </label>

    <label>
        Password:
        <input type="password" formControlName="password">
    </label>

    <button type="submit" [disabled]="!registrationForm.valid"> Register </button>
    
  
  </form>
  <p>
    Form Status: {{ registrationForm.status }}
  </p>