<div class="container-login-regis">
  <div class="form-container">
    <a  routerLink="/" mat-mini-fab class="back-arrow" matTooltip="{{ 'buttons.backToHome' | translate }}">
      <mat-icon matSuffix>keyboard_backspace</mat-icon>
    </a>
    <h1>{{ 'forms.register' | translate }}</h1>
    <form class="form form--register" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'forms.name' | translate }}</mat-label>
          <input matInput formControlName="name">
          <mat-icon matSuffix>person_outline</mat-icon>
          <mat-hint>{{ 'forms.regHintName' | translate }}</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'forms.mail' | translate }}</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix>mail_outline</mat-icon>
          <mat-hint>{{ 'forms.regHintMail' | translate }}</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'forms.password' | translate }}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <mat-icon matSuffix class="hide-icon" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint>{{ 'forms.regHintPassword' | translate }}</mat-hint>
        </mat-form-field>
      </p>
      <div class="form-buttons">
        <button mat-raised-button color="primary" type="submit" >{{ 'forms.register' | translate }}</button>
        <a routerLink="/login"><button type="button" mat-raised-button>{{ 'forms.login' | translate }}</button></a>
      </div>
    </form>
  </div>
</div>