<div class="container-login-regis">
    <div class="form-container">
      <a  routerLink="/" mat-mini-fab class="back-arrow" matTooltip="{{ 'buttons.backToHome' | translate }}">
        <mat-icon matSuffix>keyboard_backspace</mat-icon>
      </a>
      <h1>{{ 'forms.login' | translate }}</h1>
      <form class="form form--register" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'forms.mail' | translate }}</mat-label>
            <input matInput formControlName="email">
            <mat-icon matSuffix>mail_outline</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'forms.password' | translate }}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <mat-icon matSuffix class="hide-icon" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </p>
        <div class="form-buttons">
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">{{ 'forms.login' | translate }}</button>
          <a routerLink="/registration"><button type="button" mat-raised-button>{{ 'forms.register' | translate }}</button></a>
        </div>
      </form>
      <button mat-raised-button (click)="pobierz()">lol</button>
    </div>
  </div>